<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RosHAB - GUI</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style/bootstrap-5.3.3-dist/css/bootstrap.css') }}">
    <script src="{{ url_for('static',filename='js/bootstrap.bundle.min.js') }}"></script>
    <script src="{{ url_for('static',filename='js/jquery-3.6.0.js') }}"></script>
    <script src="{{ url_for('static',filename='js/socket.io.js') }}"></script>
</head>
<style>
  .card {
      border: 1px solid #121F3F;
      box-shadow: 0 4px 6px rgba(0,0,0,0.1);
  }

  #samples-table .reads {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 250px;
}

</style>
<body>
  <div class="container mt-4 mb-4">
  <div class="toast-container z-3">
    {% with messages = get_flashed_messages(with_categories=True) %}
      {% if messages %}
        {% for category, message in messages %}
        <div class="toast bg-white" role="alert" aria-live="assertive" aria-atomic="true" data-bs-delay="5000">
          <div class="toast-header
            {% if category == 'error' %}bg-danger text-white
            {% elif category == 'success' %}bg-success text-white
            {% else %}bg-info text-white{% endif %}">
            <strong class="me-auto">
              {% if category == 'error' %}Erreur
              {% elif category == 'success' %}Mise à jour
              {% else %}Information{% endif %}
            </strong>
            <button type="button" class="btn-close" data-bs-dismiss="toast"></button>
          </div>
          <div class="toast-body">
            {% for line in message %}
            {{line}}<br>
            {% endfor %}
          </div>
        </div>
        {% endfor %}
      {% endif %}
    {% endwith %}
  </div>

  <div>
    <div class="card">
      <h5 class="card-header"><b>TABLEAU DE BORD </b>POUR ANALYSES GÉNOMIQUES</h5>
      <div class="card-body">
        <div>
          <img src="{{ url_for('static',filename='img/logo_inst.png') }}" class="center-block" style="width: 207px; height: 60px;">
        </div>
      </div>
    </div>
   </div>

   <br>

    <div class="card">
      <h5 class="card-header">1. INFORMATIONS</h5>
        <div class="card-body">
        <form method="POST" action="/get_run_info_base" id="exp-base-config">
          <div class="mb-2">
            {% if exp_config['exp_id'] %}
            <label for="exp-id">Nom de l'analyse</label>
            <input type="text" class="form-control" name="exp-id" value="{{ exp_config['exp_id'] }}" style="color:green" required disabled>
            {% else %}
            <label for="exp-id">Nom de l'analyse</label>
            <input type="text" class="form-control" name="exp-id" placeholder="ex: LAC_B_AAAA-MM-JJ" required minlength="3" maxlength="20">
            {% endif %}
          </div>
            <div class="form-check form-switch mb-2">
              <input class="form-check-input" type="checkbox" id="skip-qc-switch" name="skip_qc"
                  {% if exp_config['skip_qc'] == True %} checked {% endif %}
                  {% if exp_config['exp_id'] %} disabled {% endif %}>
              <label class="form-check-label" for="skip-qc-switch">Contrôle qualité des lectures (filtration, élagage)</label>
            </div>
              {% if exp_config['exp_id'] %}
              <button type="submit" class="btn btn-primary mb-2" id="save-config-btn" disabled>Sauvegarder</button>
              <button type="submit" formaction="/refresh_config" class="btn btn-primary mb-2" id="refresh-config-btn">Modifier</button>
              {% else %}
              <button type="submit" class="btn btn-primary mb-2" id="save-config-btn">Sauvegarder</button>
              <button type="submit" formaction="/refresh_config" class="btn btn-primary mb-2" id="refresh-config-btn" disabled>Modifier</button>
              {% endif %}
        </form>
        </div>
    </div>

    <br>

    <div class="card">
      <h5 class="card-header">2. FICHIER D'ENTRÉE</h5>
      <div class="card-body">
        <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
          <div class="btn-group me-2" role="group" aria-label="Third group">
            <button type="button" class="btn btn-primary mb-2" id="reinitialize-table-btn" title="<u>Écrasera</u> vos modification actuelles." data-bs-html="true" data-bs-toggle="tooltip">Générer feuille</button>
          </div>
        </div>

    <form method="POST" action="/update_samples" id="samples-table-form">
      <br>
        <table class="table table-bordered table-striped" id="samples-table">
            <thead>
                <tr>
                    <th>Nom</th>
                    <th>Date</th>
                    <th>Site</th>
                    <th>Groupe</th>
                    <th>Lectures</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for row in table_rows %}
                <tr>
                    <td><input name="sample_name" type="text" class="form-control" value="{{ row.sample_name }}" required minlength="3" maxlength="20"></td>
                    <td><input name="date" type="date" class="form-control" value="{{ row.date }}" required></td>
                    <td><input name="site" type="text" class="form-control" value="{{ row.site }}" required minlength="3" maxlength="20"></td>
                    <td><input name="group" type="text" class="form-control" value="{{ row.group }}" required minlength="3" maxlength="20"></td>
                    <td><input name="reads" type="text" class="form-control" value="{{ row.reads }}" title="{{ row.reads }}" data-bs-toggle="tooltip" required></td>
                    <td><button type="button" class="btn btn-danger btn-sm remove-row">x</button></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <button type="submit" class="btn btn-primary" id="save-table-btn">Sauvegarder</button>
    </form>
          {% if exp_config['samplesheet'] %}
            <div class="alert alert-info mt-3">
              <strong>Feuille validée :</strong> {{ exp_config['samplesheet'] }}<br>
              <strong>Nombre d'échantillon(s) :</strong> {{ exp_config['n_samples'] }}<br>
              <form action="/remove_samplesheet" method="POST" class="mt-2">
                <button type="submit" class="btn btn-outline-danger btn-sm">Supprimer</button>
              </form>
            </div>
          {% endif %}
     </div>
   </div>

   <br>

    <div class="card">
      <h5 class="card-header">3. ANALYSE</h5>
      <div class="card-body">
          <div class="mb-2">
            {% if exp_config['exp_id'] and exp_config['samplesheet'] %}
            <button type="button" class="btn btn-success text-white" id="run-workflow-btn">Commencer</button>
            {% else %}
            <button type="button" class="btn btn-success text-white" id="run-workflow-btn" disabled>Commencer</button>
            {% endif %}
            <button type="button" id="cancel-workflow-btn" class="btn btn-danger text-white" data-bs-html="true" data-toggle="tooltip" data-placement="top" title="<u>ATTENTION</u>: l'application devra être fermée avant d'être relancée." disabled>Annuler</button>
          </div>
          <div class="mt-3">
            <h6>Progression :</h6>
            <pre id="workflow-terminal" style="height: 300px; overflow-y: scroll; background-color: #ffffff; color: rgb(0, 94, 255); padding: 10px; font-family: monospace; font-size: 13px; border-radius: 5px; border: 1px solid black;"></pre>
          </div>
      </div>
    </div>

    <form method="POST" action="/open_results" id="open-results">
      <div class="card mt-4">
        <h5 class="card-header">4. RÉSULTATS <img src="{{ url_for('static', filename='img/file-earmark-bar-graph.svg') }}" alt="Icon" class="bi bi-bootstrap-fill" style="transform: scale(1.1);"></h5>
        <div class="card-body">
          <button type="submit" class="btn btn-primary mb-2" id="open-results-btn" disabled>Ouvrir</button>
        </div>
      </div>
    </form>
  </div>

  <script>
  
    $(function () {
        $('[data-bs-toggle="tooltip"]').tooltip()
    })

    const socket = io();

    $('#run-workflow-btn').click(function() {
            socket.emit('run_workflow', {});
            $('#run-workflow-btn').html('<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> Analyse en cours...')
            .prop('disabled', true);
            $('#file-selector-btn').prop('disabled', true);
            $('#file-uploader-btn').prop('disabled', true);
            $('#refresh-config-btn').prop('disabled', true);
            $('#cancel-workflow-btn').prop('disabled', false);
        });

    $('#cancel-workflow-btn').click(function() {
            socket.emit('cancel_workflow', {});
            setTimeout(() => {
                location.reload();
            }, 300);
        });
    
    socket.on('finish', function(data) {
            $('#run-workflow-btn').html('Commencer')
            .prop('disabled', true);
            $('#file-selector-btn').prop('disabled', true);
            $('#file-uploader-btn').prop('disabled', true);
            $('#refresh-config-btn').prop('disabled', true);
            $('#cancel-workflow-btn').prop('disabled', true);
            $('#open-results-btn').prop('disabled', false);
        });
    
    socket.on("workflow_output", function (msg) {
      const terminal = document.getElementById("workflow-terminal");
      terminal.textContent += msg.data;
      terminal.scrollTop = terminal.scrollHeight;
        });
    
    socket.on('redirect_after_cancel', function(data) {
      window.location.href = data.url;
        });

    document.addEventListener('DOMContentLoaded', function() {
      var toasts = document.querySelectorAll('.toast')
      toasts.forEach(function(toast) {
        var bsToast = new bootstrap.Toast(toast);
        bsToast.show();
      });
    });

    // Remove row
    $('#samples-table').on('click', '.remove-row', function() {
        $(this).closest('tr').remove();
    });

    $('#reinitialize-table-btn').click(function() {
    window.location.href = '/refresh_sample_sheet';
    });

    document.addEventListener('DOMContentLoaded', function() {
    var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
    tooltipTriggerList.forEach(function (tooltipTriggerEl) {
      new bootstrap.Tooltip(tooltipTriggerEl)
      });
    });

  </script>

</body>
</html>